<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Paytone+One&family=Squada+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="bg-secondary pt-12-l pt-lg-26">
    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-lg navbar-light border-bottom-lg border-lg-dark bg-secondary py-0 fixed-top overflow-hidden">
      <div class="container-lg px-0 px-lg-3">

        <!-- 手機版搜尋區塊 -->
        <div class="input-search-mobile d-none position-absolute top-50 start-0 translate-middle-y w-100 h-100 d-flex align-items-center bg-secondary">
          <div class="container-lg">
            <form class="navbar-mobile-search d-flex justify-content-between align-items-center w-100 d-lg-none">
              <button class="btn-back btn p-1 me-4" type="button">
                <span class="material-icons d-flex align-items-center">chevron_left</span>
              </button>
              <!-- <span class="icon-back material-icons p-1 me-4">chevron_left</span> -->
              <input class="navbar-mobile-input form-control border-0 bg-secondary" type="search" placeholder="搜尋作品名稱、藝術家名稱m" aria-label="Search">
              <button class="btn p-1 ms-4" type="button">
                <span class="material-icons d-flex align-items-center text-black fw-bold">search</span>
              </button>
            </form>
          </div>
        </div>

        <!-- Logo -->
        <h1 class="mb-0 py-4 navbar-brand lh-0 ps-3 ps-lg-0">
          <a class="navbar-logo" href="./index.html">ART NFT</a>
        </h1>

        <!-- 下拉圖示 -->
        <div class="d-flex pe-3 pe-lg-0">
          <form class="navbar-mobile-search d-flex justify-content-between d-lg-none">
            <button class="btn-search-mobile btn p-1" type="button">
              <span class="material-icons d-flex align-items-center text-black fw-bold">search</span>
            </button>
          </form>
          <button class="navbar-toggler p-0 ms-6" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <!-- 列表項目 -->
        <div class="collapse navbar-collapse flex-grow-0 bg-white bg-lg-secondary" id="navbarSupportedContent">
          <ul class="navbar-nav mb-lg-0 border-start-lg border-lg-dark text-center px-3 px-lg-0">
            <li class="nav-link px-lg-12 py-0 d-none d-lg-flex align-items-lg-center">
              <form class="d-flex">
                <input class="form-control border-0 me-6 bg-transparent" type="search" placeholder="搜尋作品名稱、藝術家名稱d" aria-label="Search">
                <button class="btn p-0" type="button">
                  <span class="material-icons d-flex align-items-center fw-bold p-1">search</span>
                </button>
              </form>
            </li>
            <li class="nav-item border-start-lg border-lg-dark">
              <a href="#" class="nav-link text-black fs-5 fs-lg-6 fw-bold py-6 p-lg-10 border-bottom border-bottom-lg-0 border-black active" aria-current="page">探索</a>
            </li>
            <li class="nav-item border-start-lg border-lg-dark">
              <a class="nav-link text-black fs-5 fs-lg-6 fw-bold py-6 p-lg-10" href="#">市值</a>
            </li>
            <li class="nav-item border-start-lg border-lg-dark mb-6 mb-lg-0">
              <a href="#" class="material-icons nav-link text-black pe-0 py-lg-10 ps-lg-10 d-none d-lg-inline-block">delete</a>
              <a href="#" class="btn border-black text-white fs-5 fs-lg-6 bg-primary rounded-0 w-100 py-3 d-lg-none">連結錢包</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer py-6 text-center">
      <p class="mb-0">© ART NFT. All Rights Reserved</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

    <!--  -->
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>