<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="bg-success"> <!-- !背景色記得刪除 -->
    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-lg-secondary border-bottom-lg border-lg-dark py-0 position-relative overflow-hidden">
      <div class="container">

        <!-- 手機版搜尋區塊 -->
        <div class="input-search-mobile d-none position-absolute top-50 start-0 translate-middle-y bg-secondary border-bottom border-black w-100 h-100 d-flex align-items-center">
          <div class="container">
            <form class="navbar-mobile-search d-flex justify-content-between align-items-center w-100 d-lg-none">
              <button class="btn-back btn p-1 me-4" type="button">
                <span class="material-icons d-flex align-items-center">chevron_left</span>
              </button>
              <!-- <span class="icon-back material-icons p-1 me-4">chevron_left</span> -->
              <input class="navbar-mobile-input form-control border-0 bg-secondary" type="search" placeholder="搜尋作品名稱、藝術家名稱m" aria-label="Search">
              <button class="btn p-1 ms-4" type="button">
                <span class="material-icons d-flex align-items-center text-black fw-bold">search</span>
              </button>
            </form>
          </div>
        </div>

        <!-- ?手機版背景（詢問是否有叫好做法） -->
        <div class="navbar-mobile-background position-absolute top-0 start-0 w-100 bg-white h-100 d-lg-none">
          <div class="inner-background bg-secondary border-bottom border-black"></div>
        </div>

        <!-- Logo -->
        <h1 class="mb-0 py-4 navbar-brand lh-0">
          <a class="navbar-logo" href="./index.html">ART NFT</a>
        </h1>

        <!-- 下拉圖示 -->
        <div class="d-flex">
          <form class="navbar-mobile-search d-flex justify-content-between d-lg-none">
            <button class="btn-search-mobile btn p-1" type="button">
              <span class="material-icons d-flex align-items-center text-black fw-bold">search</span>
            </button>
          </form>
          <button class="navbar-toggler p-0 ms-6" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <!-- 列表項目 -->
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
          <ul class="navbar-nav mb-lg-0 border-start-lg border-lg-dark text-center">
            <li class="nav-link px-lg-12 py-0 d-none d-lg-flex align-items-lg-center">
              <form class="d-flex">
                <input class="form-control border-0 me-6 bg-transparent" type="search" placeholder="搜尋作品名稱、藝術家名稱d" aria-label="Search">
                <button class="btn p-0" type="button">
                  <span class="material-icons d-flex align-items-center fw-bold p-1">search</span>
                </button>
              </form>
            </li>
            <li class="nav-item border-start-lg border-lg-dark">
              <a href="#" class="nav-link text-black fs-5 fs-lg-6 fw-bold py-6 p-lg-10 border-bottom border-bottom-lg-0 border-black active" aria-current="page">探索</a>
            </li>
            <li class="nav-item border-start-lg border-lg-dark">
              <a class="nav-link text-black fs-5 fs-lg-6 fw-bold py-6 p-lg-10" href="#">市值</a>
            </li>
            <li class="nav-item border-start-lg border-lg-dark mb-6 mb-lg-0">
              <a href="#" class="material-icons nav-link text-black py-lg-10 ps-lg-10 d-none d-lg-inline-block">delete</a>
              <a href="#" class="btn border-black text-white fs-5 fs-lg-6 bg-primary rounded-0 w-100 py-3 d-lg-none">連結錢包</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer">
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>