// 三角裝飾按鈕樣式
.btn-decoration {
  border: 1px solid $black;
  color: $black !important;
  background: $white;
  line-height: 1;
  padding: 8px 48px;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    background: $primary;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    transition: .3s;
  }
  &:hover {
    background: $primary !important;
    color: $white !important;
  }
  &:hover::before {
    background: $black !important;
    transition: .3s;
  }
}

