//* 三角裝飾按鈕
.btn-decoration {
  position: relative;
  border: 1px solid $black;
  color: $black !important;
  background: $white;
  line-height: 1;
  font-size: 18px;
  padding: 8px 48px;
  transition: .3s;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    background: $primary;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    transition: .3s;
  }
  &:hover {
    background: $primary !important;
    color: $white !important;
  }
  // 當按鈕 in 區塊標題
  &-title:hover {
    border-top: 1px solid $black !important;
    border-right: 1px solid $black !important;
    border-left: 1px solid $black !important;
  }
  &:hover::before {
    background: $black !important;
    transition: .3s;
  }
}
